<div>
	@if ((Entry is not null) && EmployeesDataStore.IsLoaded)
	{
		<EditForm EditContext="editContext">
			<FluentValidationValidator />
			<HxFormState Enabled="@(Entry.Submitted is null)">
				<HxCard>
					<BodyTemplate>
						<div class="row g-4">
								@if (!RecipientLocked)
								{
									<div class="col-lg-9">
										<EmployeePicker @bind-Value="Entry.RecipientId" ExcludeCurrentEmployee="true" />
									</div>
								}
								else if (Entry.RecipientId.HasValue)
								{
									<div class="col-lg-9 d-flex align-items-center">
										<h5 class="mb-0">@EmployeesDataStore.GetByKey(Entry.RecipientId.Value).Name</h5>
									</div>
								}
							<div class="col-lg-3">
								<HxInputNumber @bind-Value="@Entry.Value" Enabled="@Enabled" >
									<InputGroupStartTemplate>
										<div class="input-group-text">
											<HxIcon Icon="BootstrapIcon.CurrencyBitcoin"/>
										</div>
									</InputGroupStartTemplate>
								</HxInputNumber>
							</div>
							<div class="col-lg-12">
								<HxInputTextArea Placeholder="Komentář" @bind-Value="@Entry.Text" Enabled="@Enabled" />
							</div>
							<div class="col-lg-12">
								<EntryTagsPicker @bind-Value="Entry.Tags" Enabled="@Enabled" />
							</div>
						</div>
						@if (Entry.Submitted is not null && Enabled)
						{
							<small class="text-muted">vloženo @Entry.Submitted.Value.ToShortDateString()</small>
						}
						else if (Enabled)
						{
							<div class="d-flex">
								@if (Entry.Id != default)
								{
									@* <small class="text-muted">koncept</small> *@
									<HxButton Icon="BootstrapIcon.Trash" 
											Color="ThemeColor.Light" 
											Size="ButtonSize.Small"
											CssClass="ms-auto"
											OnClick="HandleDeleteClick" />
								}
								else
								{
									@* <small class="text-muted">nový</small> *@
									<HxButton Color="ThemeColor.Primary"
											OnValidClick="HandleNewClick"
											CssClass="ms-auto"
											Text="Přidej" />
								}
							</div>
						}
					</BodyTemplate>
				</HxCard>
			</HxFormState>
		</EditForm>
	}
</div>