@if (employeeData is not null)
{
    string itemCssClass = "w-100 my-1";
    string pointsCssClass = "float-end";

    @foreach (var employee in employeeData.TakeWhile(e => e.Points > 0))
    {
        <div class="@CssClassHelper.Combine(itemCssClass, "fw-bold")">
            @employee.EmployeeDto.Name
            <span class="@pointsCssClass">@employee.Points</span>
        </div>
    }

    var employeesWithNoPoints = employeeData.SkipWhile(e => e.Points > 0);

    @* Mobile version - employees who weren't given any points are hidden in a collapse. *@
    <div class="d-md-none">
        <HxCollapseToggleElement
            ElementName="div"
            CollapseTarget="#employeeCollapse"
            CssClass="mb-1 d-flex justify-content-center"
            role="button">

            <HxIcon Icon="@(employeeInformationCollapseExpanded ? BootstrapIcon.CaretUp : BootstrapIcon.CaretDown)" />

        </HxCollapseToggleElement>
        <HxCollapse Id="employeeCollapse" OnShown="HandleCollapseShown" OnHidden="HandleCollapseHidden" >
            @foreach (var employee in employeesWithNoPoints)
            {
                <div class="@itemCssClass">
                    @employee.EmployeeDto.Name
                    <span class="@pointsCssClass">@employee.Points</span>
                </div>
            }
        </HxCollapse>
    </div>

    @* Desktop version - all employees are visible form the start. *@
    <div class="d-none d-md-block">
        @foreach (var employee in employeesWithNoPoints)
        {
            <div class="@itemCssClass">
                @employee.EmployeeDto.Name
                <span class="@pointsCssClass">@employee.Points</span>
            </div>
        }
    </div>
}
