<div class="@CssClass" @onclick="HandleClick">
    @if (Entry is not null)
    {
        <HxCard CssClass="@(OnClick.HasDelegate ? "readonly-card-interactive" : null)">
            <BodyTemplate>
                <div class="row">
                    <div class="col-auto">
                        <div class="points">
                            <h5>@Entry.Value</h5>
                        </div>
                    </div>
                    <div class="@CssClassHelper.Combine("col ps-0", !HasTags && !HasText && !ShowVisibility ? "d-flex align-items-center" : null)">
                        <div class="row">
                            <div class="@CssClassHelper.Combine(HasTags ? "col-auto" : "col-12")">
                                <h5>
                                    @if (ShowAuthor && Entry.RecipientId.HasValue && Entry.CreatedById.HasValue)
                                    {
                                        <span>pro @EmployeesDataStore.GetByKey(Entry.RecipientId.Value)?.Name od @EmployeesDataStore.GetByKey(Entry.CreatedById.Value)?.Name</span>
                                    }
                                    else if (Entry.RecipientId.HasValue)
                                    {
                                        <span>@EmployeesDataStore.GetByKey(Entry.RecipientId.Value)?.Name</span>
                                    }
                                </h5>
                            </div>
                            @if (HasTags)
                            {
                                <div class="col-auto ms-auto">
                                    <EntryTagsPicker @bind-Value="Entry.Tags" Enabled="false" />
                                </div>
                            }
                        </div>
                        @if (HasText)
                        {
                            <div class="row">
                                <div class="col">
                                    <p>@Entry.Text</p>
                                </div>
                            </div>
                        }
                        @if (ShowVisibility)
                        {
                            <div class="row">
                                <div class="@CssClassHelper.Combine("d-flex", HasText || HasTags ? "justify-content-end" : null)">
                                    <EntryVisibilityPicker Value="@Entry.Visibility" Readonly />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </BodyTemplate>
        </HxCard>
    }
</div>
